<h1>Form Parameters Output</h1>
<p>You had entered:</p>
<p>Text String = <%= params[:post][:text] %></p>
<p>Text String Reversed = <%= params[:post][:text.reverse] %></p>
<p>Click <a href="/">here</a> to try a new text string.</p> 
