
    <div id="content" >
    	<div id="content_bg" >
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
              <h1 align="center">District 71 Calendar of Events</h1>
              <p align="center">To get your event on this calendar, please bring your flyer to the district meeting or e-mail your flyer to the webservant. If you do not have the webservants email,<br />
          fill out the form on the Contact Us page and you will get a reply with the email address. Sorry, but we do not post it on the website to prevent spamming. </p>
              <p align="center"><br />
              Note: only AA related events may be posted on this events calendar.</p>
<p align="center">&nbsp;</p>
              <p align="center">
          <iframe width="700" height="813" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.my.calendars.net/aa_district_71"></iframe>
          </p>
              <p align="center"><br />
              </p>
  <div style="clear: both; width: 100%"></div>
            </div>
        </div>
        <div style=" width: 100%; height: 8px; clear:both;"></div>
        <div class="row_bott">
        	<h1>District 71 - Where our Group's GSRs Meet Once A Month...</h1>
       	  <h2>General Service Representative — G.S.R.</h2>
       	  <span class="span_lh"><br />
       	  “The general service representative has the job of linking his or her group with A.A. as a whole. The G.S.R. represents the voice of the group conscience, reporting the group’s thoughts to the district committee member and to the delegate, who passes them on to the Conference. This communication is a two-way street, making the G.S.R. responsible for bringing back to the group Conference Actions that affect A.A. unity, health, and growth. Only when a G.S.R. keeps the group informed, and communicates the group conscience, can the Conference truly act for A.A. as a whole.”<br />
          <br />
– The A.A. Service Manual, p. S26</span></div>
    </div>
    <div style=" width: 100%; height: 70px; clear:both;"></div>
    <div id="bottom">
        <div class="bottom_box1">
        	<h3>Quick Links</h3>
            <ul class="bottom_ul">
                <li><a href="http://www.aa.org">AA World Services</a></li>
                <li><a href="http://www.aa.org/bbonline/">Big Book Online</a></li>
                <li><a href="http://www.aa.org/1212/">12 &amp; 12 Online</a></li>
                <li><a href="http://www.aa.org/lang/en/aareflections.cfm">Daily Reflections</a></li>
                <li><a href="http://www.aagrapevine.org/">AA Grapevine</a></li>
                <li><a href="http://aa-nia.org/">Area 20 Website</a></li>
                <li><a href="http://dekalbalanoclub.webstarts.com/index.html">Dekalb Area Alano Club</a></li>
                <li><a href="http://stateconference2013.aa-nia.org/flyers.html">Illinois State Conference</a></li>
            </ul>
        </div>
        <div class="bottom_box2">
        	<h3>District 71 Monthly District Meeting</h3>
            <p class="span_lh">
            Second Monday of Each Month at 6:00 pm</p>
            <p class="span_lh">312 East Taylor Street</p>
            <p class="span_lh">Dekalb Alano Club<br />
              <br />
              E-mail: district71@hotmail.com</p>
        </div>

        <div class="bottom_box3">
            <div class="ul_img_text">
            	<h3>Service Information</h3>
                <div class="read_more2"><a href="http://www.aa-nia.org/calendar.html">NIA 2013 Calendar</a></div>
                <div class="read_more2"><a href="http://www.aa-nia.org/agendas.html">NIA Agendas</a></div>
                <div class="read_more2"><a href="http://www.aa-nia.org/guidelines.html">Guidelines Procedures &amp; Handbooks</a></div>
                <div class="read_more2"><a href="http://www.aa-nia.org/links.html">AA Related Links</a></div>
            </div>
        </div>
    </div>
    <div id="footer">AA District 71 Area 20
      <p><!-- end -->
          </p>
</div>
    </div>
</div>
</div>
</body>
</html>