<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>AA District 71 - Al-Anon Meetings</title>
<meta name="keywords"
	content="Alcoholics Anonymous, AA, A.A., Alcoholics Anonymous Dekalb, AA Dekalb, A.A. Dekalb, District 71 Area 20, Northern Illinois AA, Northern Illinois A.A., Northern Illinois Alcoholics Anonymous" />
<meta name="description"
	content="Alcholics Anonymous Disctrict 71, Area 20, Serving Dekalb, Cortland, Genoa, Hinkley, Kingston, Kirkland, Maple Park, Sandwich, Sycamore, Somonauk, Waterman, in Northern Illinois, Alanon Page" />
<script type="text/javascript" src="jquery/cufon-yui.js"></script>
<script type="text/javascript" src="jquery/Book_Antiqua_400.font.js"></script>
<script type="text/javascript">
	Cufon.replace('h1')('h3')('.top_span_48')('.top_span_36')('.but1')(
			'.antiqua');
</script>
<link href="styles_meetings2.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="main">
    <!-- header begins -->
      <div id="bg_top">
        <div id="header">
          <div id="logo">
            <table width="950" border="0">
		      <tr>
                <td width="644">
                  <p>
                  <a href="#"><span class="logo_span antiqua">Alcoholics Anonymous Area 20 District 71</span>
                              <span class="logo_span antiqua"></span>
                              <br />
                  </p>
                  <p>
                  <a href="#"><span class="logo_space antiqua">Serving Cortland, Dekalb, Genoa, Hinkley, Kingston, </span></a>
                  </p>
                  <p>
                  <a href="#"><span class="logo_space antiqua">Kirkland,
                    Maple Park, Sandwich, Sycamore, Somonauk, </span></a>
                  </p>
                  <p>
                  <a href="#"><span class="logo_space antiqua">Waterman
					and Everyone in Between.</span></a>
				  </p>&nbsp;
			    </td>
			  <td width="313">
			    <div align="right">
			      <p>&nbsp;
			      <img src="images/AALOGOHOTLINE.png" alt="" width="314" height="103" />
			      </p>
		        </div>
		      </td>
			</tr>
	      </table>
        </div>
		<div id="buttons">
          <div class="but1 but_size">
		    <a href="index.html" class="my_but1" title="">Home</a>
		  </div>
		  <div class="but_razd"></div>
		  <div class="but1 but_size">
		    <a href="meetings.html" class="my_but2" title="">Meetings</a>
		  </div>
		  <div class="but_razd"></div>
		  <div class="but1 but_size">
		    <a href="Calcium40.pl?CalendarName=AADistrict71&Op=ShowIt" class="my_but3" title="">Events</a>
          </div>
		  <div class="but_razd"></div>
		  <div class="but1 but_size">
		    <a href="contact.html" class="my_but5" title="">Contact&nbsp;Us</a>
		  </div>
		  <div class="but_razd"></div>
		  <div class="but1 but_size">
		    <a href="Al-Anon.html" class="my_but4" title="">Al-Anon</a>
		  </div>
        </div>
      </div>
    </div>
  </div>
<!-- header ends -->
<%= yield %>
<!-- footer begins -->
  <div id="bg_bottom">

    <div id="bottom">

      <div class="bottom_box1">
        <h3>Quick Links</h3>
          <ul class="bottom_ul">
            <li><a href="http://www.aa.org">AA World Services</a></li>
			<li><a href="http://www.aa.org/bbonline/">Big Book Online</a></li>
			<li><a href="http://www.aa.org/1212/">12 &amp; 12 Online</a></li>
			<li><a href="http://www.aa.org/lang/en/aareflections.cfm">Daily	Reflections</a></li>
			<li><a href="http://www.aagrapevine.org/">AA Grapevine</a></li>
			<li><a href="http://aa-nia.org/">Area 20 Website</a></li>
			<li><a href="http://dekalbalanoclub.webstarts.com/index.html">Dekalb Area Alano Club</a></li>
			<li><a href="http://stateconference2013.aa-nia.org/flyers.html">Illinois State Conference</a></li>
          </ul>
      </div>

      <div class="bottom_box2">
        <h3>District 71 Monthly District Meeting</h3>
		  <p class="span_lh">Second Monday of Each Month at 6:00 pm</p>
		  <p class="span_lh">312 East Taylor Street</p>
		  <p class="span_lh">Dekalb Alano Club
		    <br /> <br /> E-mail: webservant@aadistrict71.org
		  </p>
		<div id="footer">AA District 71 Area 20<p><!-- end --></p></div>
      </div>

      <div class="bottom_box3">

        <div class="ul_img_text">
          <h3>Service Information</h3>
            <div class="read_more2">
              <a href="http://www.aa-nia.org/calendar.html">NIA Calendar</a>
			</div>
			<div class="read_more2">
			  <a href="http://www.aa-nia.org/agendas.html">NIA Agendas</a>
			</div>
			<div class="read_more2">
			  <a href="http://www.aa-nia.org/guidelines.html">Guidelines Procedures &amp; Handbooks</a>
			</div>
			<div class="read_more2">
			  <a href="http://www.aa-nia.org/links.html">AA Related Links</a>
			</div>
        </div>

      </div>

    </div>

  </div>
