<h1>Introduction to Sinatra Course by RubyLearning</h1> 
<p>The first and only free Sinatra course on the planet!!</p>
<p>The current time is: <%= Time.now %></p>
<p></p>
<h1>Form Parameters</h1>

<p>This example will display submitted form parameters directly via the params hash.</p>

<form action="/display" method="post" accept-charset="utf-8">
  <input type="text" name="post[fname]" value="Type your first name..." id="fname" /><br />
  <input type="text" name="post[lname]" value="Type your last name..." id="lname" /><br />
  <input type="submit" value=".. and display it!">
</form> 

<p>Click <a href="/hello">here</a> to see hello.</p>
<p>Click <a href="/again">here</a> to see again.</p>
<p>Click <a href="/rlpage">here</a> to see day 5.2 web page.</p>
<p>Click <a href="/rl">here</a> to see the 404 error page.</p>
<p>Click <a href="/rle">here</a> to see the 500 error page.</p>
<p>Click <a href="/helperspage">here</a> to see the helpers page.</p>
<p>Click <a href="/request">here</a> to see the request page.</p>
<p>Click <a href="/service">here</a> to see the reverse string page.</p>
