<div id="container">

<div id="header"><h1>RubyLearning.org</h1></div>

<div id="sub_header">To promote worldwide the fun of programming in Ruby</div>

<div id="main_content_top"></div>

<div id="main_content">

<div class="content">
  <h2><strong>Online Ruby Programming Courses at RubyLearning</strong></h2>

  <p style="float: right; margin-left: 10px; margin-bottom: 10px;"><a href="http://shortyawards.com/"><img src="http://rubylearning.com/images/satransparent.png" alt="Winner in Education category at Shorty Awards" title="Winner in Education category at Shorty Awards" /></a></p>

  <p><strong>Git and GitHub</strong> course <img height="11" width="28" style="border: 0px none" src="/images/nw.gif" alt="New" title="New" /></p>
  <ul>
    <li>Start date: <strong>21st Sept. 2012</strong></li>
    <li>Period: The course runs for a week</li>
    <li><a href="http://rubylearning.com/blog/2009/02/10/git-and-github-a-free-course/">Course Details.</a></li>
    <li>Enrollment Key: <strong>FOGGHC101</strong></li>
    <li>Join <a href="http://rubylearning.com/blog/2009/02/10/git-and-github-a-free-course/">here</a>.</li>
    <li>The course is <strong>FREE</strong></li>
  </ul>

  <p><strong>Ruby with Shoes</strong> course <img height="11" width="28" style="border: 0px none" src="/images/nw.gif" alt="New" title="New" /></p>
  <ul>
    <li>Start date: <strong>24th Sept. 2012</strong></li>
    <li>Period: The course runs for 2 weeks</li>
    <li><a href="http://rubylearning.com/blog/2008/10/30/ruby-and-shoes-programming-a-new-course/">Course Details.</a></li>
    <li>Join <a href="http://rubylearning.com/blog/2008/10/30/ruby-and-shoes-programming-a-new-course/">here</a>.</li>
    <li>Early Bird Registration Discounts offered</li>
  </ul>
  <p><strong>Core Ruby</strong> course <img height="11" width="28" style="border: 0px none" src="/images/nw.gif" alt="New" title="New" /></p>
  <ul>
    <li>Start date: <strong>Saturday, 18th Aug. 2012</strong></li>
    <li>Period: The course runs for 7 weeks</li>
    <li><a href="http://rubylearning.com/satishtalim/tutorial.html">Syllabus</a></li>
    <li><a href="http://rubylearning.com/blog/2012/07/16/ruby-programming-35th-batch-registrations-now-open/">Course Details:</a></li>
    <li>Join <a href="http://rubylearning.com/blog/2012/07/16/ruby-programming-35th-batch-registrations-now-open/">here</a>.</li>
  </ul>
  <p><strong>Introduction to Sinatra</strong>: Next batch to be announced<br />
  <strong>JRuby Programming</strong>: Next batch to be announced</p>
  <p>For all the answers to your questions, please read the <strong><a href="http://rubylearning.com/satishtalim/faq.html">FAQ</a></strong><br />
  (This site is best viewed with a <a href="https://affiliates.mozilla.org/media/uploads/banners/910443de740d4343fa874c37fc536bd89998c937.png">Firefox</a> browser)<img height="20" width="60" style="border: 0px none" src="http://rubylearning.com/images/important.gif" alt="Important" title="Important" /></p>
</div>

<div class="menu">
<div class="menu_title">Main menu</div>
<ul>
<li><a href="http://satishtalim.com/" class="menu_link">About me</a></li>
</ul>
<div class="menu_title">Sites</div>
<ul>
<li><a href="http://rubylearning.com/" class="menu_link">RubyLearning.com</a></li>
<li><a href="http://rubylearning.org/" class="menu_link">RubyLearning.org</a></li>
<li><a href="http://rubylearning.com/blog/" class="menu_link">RubyLearning blog</a></li>
</ul>
</div>

<div id="clear"></div>

</div>

<div id="main_content_bottom">
</div>

<div id="footer"><strong>Copyright &copy; 2012</strong> | <a href="http://rubylearning.org/">RubyLearning.org</a> | <b>Design by</b> <a href="http://www.pikanai.com">Pikanai.com</a></div>

</div>
