<h1>String Reverse Results</h1>

<p>You had entered the string - <%= params[:str] %></p>
<p>The reversed string is     - <%= params[:str].reverse %></p>   

<p>Click <a href="/service">here</a> to see try a new string.</p>
<p>Click <a href="/">here</a> to see the main page.</p>
   
