<h1>String Reverse</h1>

<p>The String Reverse Service will accept a string from you
   and return for you the reversed string. Have fun!</p>
   
<form action="/reverse" method="post" accept-charset="utf-8">
  <input type="text" name="str" value="Type a string..." id="str">
  <input type="submit" value=".. and reverse it!">
</form>
   
